.profile {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: 20px;
}

.avatar {
  display: block;
  height: 200px;
  padding-top: 40px;
  margin: 0 auto;
}

.name {
  color: black;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 20px;
}

.tag {
  color: #4682b4;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.location {
  color: #4682b4;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 24px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  padding: 0;
  margin: 0;
}

.stats li {
  background-color: #d3d3d3;
  border: 1px solid grey;
  margin: 0;
  padding: 0;
  height: 100px;
}
.stats span {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
}

.label {
  margin-top: 25px;
  margin-bottom: 5px;
}

.quantity {
  font-weight: bold;
}
